*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: white;
    color: black;
}
header{
    background-color: #0A97B0;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
header h1{
    font-size: 3rem;
}
nav{
    background-color: #0A97B0;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
}
nav ul li{
    margin: 0;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}
footer{
    background-color: #0A97B0;
    color: white;
}
h2{
    text-align: center;
}
